<div class="main_display">

<%# 左側のメニュー %>
<div class="left_menu">
  <%= link_to "my List-list", "#", class: "side-list1" %>
  <%= link_to "知ってほしいこと", "#", class: "side-list2" %>
  <%= link_to "みんなのList-list", "#", class: "side-list3" %>
  <%= link_to "アカウント情報", "#", class: "side-list4" %>
</div>

<%# メインメニュー %>
<div class="main_menu">
  <div class="board">
  </div>
</div>

<%# 右側のメニュー %>
<div class="right_menu">
</div>

</div>
