<div class="left_menu">
  <%= link_to "my List-list", firstlists_path, class: "side-list1" %>
  <%= link_to "知ってほしいこと(未実装)", "#", class: "side-list2" %>
  <%= link_to "みんなのList-list(未実装)", "#", class: "side-list3" %>
  <%= link_to "アカウント情報(未実装)", "#", class: "side-list4" %>
</div>