.bg_image {
  background-image: image-url('bg_image.png');
  background-repeat: no-repeat;
  position: relative;
  top: 59px;
  width: 100%;
  height: 547px;
  background-position: center;
}

@font-face {
  font-family: 'MPLUS1p';
  src: font-url('MPLUS1p-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
